cloudinary==1.44.1
Django==4.2.7
django-cloudinary-storage==0.3.0
django-crispy-forms==2.0
django-extensions==3.2.3
django-filter==23.2
django-taggit==4.0.0
djangorestframework==3.14.0
gunicorn==23.0.0
pillow==11.0.0
psycopg2-binary==2.9.10
dj-database-url==3.0.1
whitenoise==6.9.0