@import 'variables.css';
@import 'global.css';
@import 'navbar.css';
@import 'cards.css';
@import 'hero.css';
@import 'footer.css';
@import 'components.css';
@import 'mobile.css';

.btn-primary {
    background-color: #30251a !important;
    border-color: #30251a !important;
}

.btn-primary:hover {
    background-color: #3d2313 !important;
    border-color: #3d2313 !important;
}



.btn-outline-primary {
    color: #221d1a !important;
    border-color: #30251a !important;
    background-color: #e0cdc2 !important;
}

.btn-outline-primary:hover {
    color: #e0cdc2 !important;
    background-color: #3d2313 !important;
    border-color: #e0cdc2 !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active {
    color: white !important;
    background-color: #1a1612 !important;
    border-color: #1a1612 !important;
}